.full-width{
  width: 100%;
}
  mat-card{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.min-width{
  width: 100%;
  min-width: 150px;

}
mat-card-actions{
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}
.actionBack{
  max-width: 80%;
  text-align: left;
  margin: 20px;
  align-items: self-end;
}
